{% extends "base.html" %}

{% block title %} {{ article.title }} | {{ SITENAME }} {% endblock %}

{% block content %}
    <h1 class="title"> {{ article.title }}</h1>
    <p class=date> {{ article.locale_date }} </p>
    {% if article.modified %} <p class="date muted small">Última modificación el: {{ article.modified|strftime('%d/%m/%Y')  }}</p>{% endif %}
    {{ article.content }}

    {% include "twitter.html" %}

    {% if article.tags %}
    <p class=tags>Tags: (
      {% for tag in article.tags %}
      {% if loop.last %}
        <a href="/{{ tag.url }}">{{ tag }}</a>
      {% else %}
      <a href="/{{ tag.url }}">{{ tag }},</a>
      {% endif %}
      {% endfor %}
      )
    </p>
    {% endif %}
    {% include "disqus.html" %}
{% endblock %}
